<header>
<div class="article background-image overlay center">
	<div class="header-container">
		<img src="{{ site.baseurl }}/assets/images/foto.jpeg" class="whoami">
		<p class="header-text">I graduated cum laude for my <strong>Masters degree</strong> in Business Administration (Small Business & Entrepeneurship) and a have a Bachelor degree in <strong>Business Economics</strong>. In 2018 I followed bootcamp in fullstack Web Development and learned to work with <strong>HTML, CSS, JavaScript, Node.JS and databases</strong>. My goal is to become a better programmer by practicing as much as I can. You can read my blog.</p>
		<i class="arrow down"></i>
	</div>
</div>
</header>