<header class="front-page">
	<div class="header-background" style="background-image: url('{{site.baseurl}}/assets/images/champions.jpg');"></div>
	<div class="header-div">
		<div class="headshot" style="background-image: url('{{site.baseurl}}/assets/images/foto.jpeg');"></div>
		<div class="headtext">
			<span>I graduated cum laude for my <strong>Masters degree</strong> in Business Administration (Small Business & Entrepeneurship) and a have a Bachelor degree in <strong>Business Economics</strong>. In 2018 I followed bootcamp in fullstack Web Development and learned to code. It has been a while and I seem to be caught in an infinite loop to learn coding. <strong>My goal</strong> is to become a programmer by practicing as much as I can. You can read my blog.</span>
		</div>
	</div>
	<span class="front-page-down"></span>
</header>