---
layout: default
---

<div class="container">
	{{ content }}
</div>
<div class="bg-lightpurple">
	<div class="container">
		<img class="circle" src="{{ site.baseurl }}/assets/images/foto.jpg">
		<h3>Joris Veldt</h3>
		<p>Geen opleiding of achtergrond in de IT, maar toch werken in de IT? Geen probleem! Ik ben zelf IT-trainee bij Calco en kan je hier alles over vertellen. Voeg me toe op LinkedIn met een bericht "Vertel mij meer over het Calco IT-Traineeship" en ik beantwoord al je vragen!</p>
</div>
</div>